<!doctype html>
<html lang="{{ project.language }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/main.css">
    <title>{{ project.name }}</title>
</head>
<body>
<header>
    {% include "header.liquid" %}
</header>
<main>
    {% include "main.liquid" %}
</main>
</body>
</html>